@CHARSET "ISO-8859-1";
.white-pink {
    margin-left:20px;
    margin-right:10px;
    margin-top:50px;
    width: 250px;
    height:300px;
    background: #FFF;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    float:left;
}

.white-pink h1 {
     font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
  	color:#FFA07A;

}
#order{
	color: #fff;
    width: 100%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 10px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    height: 25px;
    line-height:15px;
    margin-left:5px;
    outline: 0;
    color:black;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    display:block;
    
}
#header{
	text-align: center;

	    color: #FF4500;
}
 .submit input[type="submit"]
{
   margin-top:30px;
	margin-bottom:5px;
	width:90px;
	height:30px;
	float:right;
	 background-color: #FFA07A;
	text-align:center;
	
}
.submit{
	 margin-left:20px;
    margin-right:60px;
    margin-top:20px;
    width: 250px;
    height:300px;
    background: #FFF;
    padding: 30px 30px 20px 30px;
   color: #FFA07A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    float:right;
}










