@CHARSET "ISO-8859-1";
#divAdmin
{
    text-align:center;
    padding-top:30px;
  
}
#divImages
{
	
	width:900px;
	height: 600px;
	float: right;
	margin-right: 120px;
	margin-top: 20px;
}
#divHeader
{
	text-align: center;
	color:#FF4500;
	margin-top: 30px;
}
#type
{
	color:#FF4500;
}